<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index_style.css">
    <script src="../static/js/index.js" defer></script>
    <title>Registration</title>
</head>
<body>
    <nav>
        <img src="../static/img/dell_logo.png" alt="startup-img">
    </nav>

    <button id="play">Play music</button>
    <p>This song was created by Rian.</p>
    <p class='p_link'>Visit my <a href="https://soundcloud.com/user-183182855">Soundcloud</a> for more</p>
    <main>
        <h1>Please register startups for the championship</h1>
        <button id="btn4" onclick="change_list_number(4)">4</button>
        <button id="btn6" onclick="change_list_number(6)">6</button>
        <button id="btn8" onclick="change_list_number(8)">8</button>

        <ul>
            <li id="registration-list">
                <!--<div class='startup'>
                    <label>Nome:<br>
                        <input type="text" id="nome">
                    </label>
                    <label>Slogan:<br>                   PREENCHIDO PELO JAVASCRIPT
                        <input type="text" id="slogan">
                    </label>
                    <label>Ano de Fundação:<br>
                        <input type="text" id="ano-fundacao">
                    </label>
                </div> -->
            </li>
        </ul>

        <button id="btn-criar-startups">Create Startups</button>
    </main>
</body>
</html>